import React from 'react';
import PropTypes from 'prop-types';

class {{ComponentName}} extends React.Component {
  render() {
    return <h1>test</h1>;
  }
}

{{ComponentName}}.propTypes = {
  children: PropTypes.any
};

export default {{ComponentName}};
