import React from 'react';
import PropTypes from 'prop-types';
import style from './Style.{{StyleExtension}}'

const {{ComponentName}} = props => {
  return <h1>sample</h1>;
};

{{ComponentName}}.propTypes = {
  children: PropTypes.any
};

export default {{ComponentName}};
