import React from "react";
import PropTypes from "prop-types";
import styles from "./index.scss";

import { connect } from "react-redux";
import { bindActionCreators } from "redux";
import * as Actions from "~/store/actions";

const mapDispatchToProps = dispatch => ({
  actions: bindActionCreators(Actions, dispatch)
});
const mapStateToProps = state => ({ store: state });

@connect(
  mapStateToProps,
  mapDispatchToProps
)
class {{ComponentName}} extends React.Component {
  render() {
    return null;
  }
}

{{ComponentName}}.propTypes = {
  //TODO props: PropTypes.string.isRequired
};

export default {{ComponentName}};
