import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{ComponentName}}Style.sass';

class {{ComponentName}} extends React.Component {
  render() {
    //TODO write component detail
    return null;
  }
}

{{ComponentName}}.propTypes = {
  //TODO props: PropTypes.string.isRequired
  children: PropTypes.any
};

export default {{ComponentName}};
