import styles from "./";
import React from "react";
import {{ComponentName}} from "./{{ComponentName}}Component";
import renderer from "react-test-renderer";
import { shallow } from "enzyme";

import { configure } from "enzyme";
import Adapter from "enzyme-adapter-react-16";
configure({ adapter: new Adapter() });

// snapshot test
test("{{ComponentName}} SnapShot", () => {
  const component = renderer.create(<{{ComponentName}} />);
  // TODO スナップショットテストを記載する
  const tree = component.toJSON();
  expect(tree).toMatchSnapshot();
});


test("{{ComponentName}} enzyme", () => {
  const wrapper = shallow(<{{ComponentName}} />);
  // TODO コンポーネントのテストを記載する
  // expect(wrapper.text()).toBe("InputType:test");
});
