import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{ComponentName}}Style.sass';

const {{ComponentName}} = props => {
  //TODO write component detail
  return null;
};

{{ComponentName}}.propTypes = {
  //TODO props: PropTypes.string.isRequired
  children: PropTypes.any
};

export default {{ComponentName}};
