import React from "react";
import PropTypes from "prop-types";
import styles from "./scss/{{ComponentName}}.scss";

const {{ComponentName}} = props => {
  //TODO write component detail
  return null;
}

{{ComponentName}}.propTypes = {
  //TODO props: PropTypes.string.isRequired
};

export default {{ComponentName}};
